.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > label {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.75rem;
  padding-left: 1rem;
  color: #9292c1;
}

.login-input {
  margin-top: 0.5rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  padding-left: 1rem;
}

.login-button {
  margin-top: 0.75rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-pink);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #333;
}
