.todo-item {
  display: flex;
  align-items: center;

  list-style: none;

  height: var(--small-height);
  padding: var(--padding-sides);

  background-color: var(--light-brown);
  border-radius: var(--border-radius);

  margin-top: 10px;

  position: relative;
}

.todo-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 10px;

  width: 100%;
}

.todo-main > span {
  margin-right: auto;
  color: #2b2d26;
}

.todo-btn,
.check-btn {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);

  height: calc(var(--small-height) * 0.75);
  aspect-ratio: 1/1;
}

.todo-btn:hover {
  background-color: var(--red);
}

.edit-todo {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.edit-todo > input {
  width: 100%;
  padding: var(--padding-sides);
  border: var(--white-border);
  border-radius: var(--border-radius);
}

.check-btn {
  position: absolute;
  left: -40px;
}
