.todo-item {
  display: flex;
  align-items: center;

  list-style: none;

  height: var(--small-height);
  padding: var(--padding-left);

  background-color: red;
  border-radius: var(--border-radius);
}
