.tabs {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;

  background: #9292c1;
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 0 12px;
  margin-bottom: 0.75rem;
}

.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  gap: 1rem;
}

.tabs-item {
  width: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--white);
  padding: 0 1rem;
}

.tabs-item:last-child {
  border-right: none;
}

.tabs-link {
  text-decoration: none;
  color: var(--white);

  font-weight: bold;
  font-size: 1.25rem;

  transition: 0.15s;
}

.tabs-link:hover {
  color: var(--black);
}

/* TODO: save todo icon!!! */
