.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  gap: 1rem;

  /* margin: 1rem 0; */
}

.tabs-item {
  height: 3rem;
  width: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--black);
  padding: 0 1rem;
}

.tabs-item:last-child {
  border-right: none;
}

.tabs-link {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 1.25rem;
}

.tabs-link:hover {
  color: var(--brown);
}

.tabs {
  display: flex;
  align-items: center;

  height: 3rem;

  background: white;
  border-radius: var(--border-radius);
  padding: 0 12px;
}
