.add-todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.add-todo-input,
.add-todo-btn {
  font-size: 1.25rem;
  padding: var(--padding-sides);
  height: var(--small-height);
  border: none;
  border-radius: var(--border-radius);
}

.add-todo-input {
  width: 100%;
}

.add-todo-btn {
  margin-left: 10px;
  cursor: pointer;

  color: #3e4c40;

  background-color: #333;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-btn:hover,
.add-todo-btn:active,
.add-todo-btn:focus {
  background-color: var(--dark-pink);
}

.add-todo-svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--white);
}
