/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.wrapper {
  height: 100dvh;

  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  font-size: 3.2em;
  margin: 3.2rem;
}

.small-wrapper {
  width: clamp(200px, 100%, 350px);
}
