.wrapper {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 48px;
  transition: 1s;
}

h1 {
  margin: 48px 0;
  font-size: 3rem;
  transition: 0.35s;
}

h2 {
  color: #9292c1;
}

.small-wrapper {
  width: clamp(200px, 28rem, 800px);
}
