/* https://coolors.co/daffef-d0ffd6-d5e2bc-a6979c-d3c0d2 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: "Roboto Mono", monospace; */
  font-family: Geologica, sans-serif;
}

:root {
  font-size: 16px;
  line-height: 1.5;

  --white-border: 1px solid #ccc;
  --border-radius: 0.5rem;

  --small-height: 40px;

  --padding-sides: 0 10px;

  --white: #eee;
  --black: #222;

  --dark-blue: #242582;
  --dark-purple: #553d67;
  --dark-pink: #f64c72;
  --dark-brown: #99738e;
  --dark-blue-2: #2f2fa2;

  --light-green: #daffef;
  --green: #d0ffd6;
  --light-brown: #d5e2bc;
  --brown: #a6979c;
  --light-purple: #d3c0d2;
}

body {
  color: var(--white);

  background: var(--dark-blue);
}
